<!DOCTYPE html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="assets/site.css"/>
    <script type="text/javascript" src="assets/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>
  <body ng-controller="StoreController as store" class="list-group">
    <div class="list-group-item" ng-repeat="product in store.products">
      <h3>
        <product-title></product-title>
      </h3>
      <div class="gallery" ng-controller="GalleryController as gallery">
        <div class="img-wrap">
          <img ng-src="{{product.images[gallery.current]}}"/>
        </div>
        <ul class="img-thumbnails clearfix">
          <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
            <image ng-src="{{image}}"/>
          </li>
        </ul>
      </div>
      <product-panels></product-panels>
    </div>
  </body>
</html>
